<div id="comment">
	<div class="user-name">
		<%= link_to comment.user.name, profile_path(@comment.user.name) %>
 	</div>
	<div class="comment-content">
		<%= comment.content %>
	</div>
	<% if comment.user == current_user %>
		<%= link_to list_comment_path(list, comment), method: :delete, 
					data: { list_id: list.id, value: list.comments.count, confirm: "你确定要删除吗？" }, 
					remote: true, 
					id: "delete-#{comment.id}", 
					class: "delete-comment glyphicon glyphicon-remove delete-comment-icon" %>
	<% end %>
</div>