<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
        <h1><a href="/">学习清单</a></h1>
        </li>
        <li class="toggle-topbar menu-icon">

        <a href="#">菜单</a>
        </li>
    </ul>

<section class="top-bar-section">

    <ul class="right">
      <li class="divider"></li>
      <li><%= link_to '标签分类', nodes_path %></li>
      <li class="divider"></li>
      <li><%= link_to '创建清单', new_list_path %></li> 
    </ul>


      <ul>
          <li class="has-form">
            <div class="row collapse">
              <div class="large-8 small-9 columns">
                <input type="text" placeholder="知识">
              </div>
              <div class="large-4 small-3 columns">
                <a href="#" class="alert button expand">搜索</a>
              </div>
            </div>
          </li>
      </ul>
  
</section>

</nav>
